* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* #crsr{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  border: 1px solid #ffffffb4;
  mix-blend-mode: difference;
  transform: translate(-50%,-50%);
} */

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  /* background-color: red; */
  padding: 17vh 5vw;
}

.line {
  /* background-color: red; */
  height: 15vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding-left: 3vw;
}

#line1-part1 h5,
h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
  margin-bottom: 5.2vh;
}

#line1-part1 h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line #your {
  padding-left: 2.8vw;
}

.line #now {
  margin-left: -1.5vw;
}

.line h2 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  40% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  45% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  85% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  /* background-color: #030303; */
  background-color: #151515;

}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.3vw 8.5vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero {
  /* background-color: red; */
  width: 72%;
  margin-left: 28%;
  letter-spacing: 0.5vh;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 999;
}

.hero:nth-child(2) {
  margin-top: 17.2vh;
}

.hero h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.3vw;
  font-weight: 600;
}

#web {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1em;
  padding-right: 5px;
  margin-right: 5px;
}

#graphic {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.1em;
  margin: 0px 0px 0px -20px;
}

#divide {
  /* background-color: red; */
  height: 16.5vh;
  margin-bottom: -1vh;
}

#divide #graphic:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
  text-decoration: none;
  transition: all ease 0.1s;
}

#divide #web:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 100;
  text-decoration: none;
  transition: all ease 0.1s;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 20vh;
  position: relative;
  background-color: #151515;
}

#video-container {
  height:70vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  background-color: #ffa630;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#video-cursor i{
  font-size: 2vw;
}

#page3{
  min-height: 100vh;
  width: 100%;
  background-color: #975353;
}


#page4{
  height: 100vh;
  width: 100%;
  /* background-color: #151515; */
}